body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: lightcyan;

}

#drum-machine {
	display: flex;
	width: 30rem;
	height: 20rem;
	background-color: var(--secondary);
	border-radius: var(--curve);
	border: var(--primary) solid 10px;
	overflow: hidden;
	--primary: #EC625F;
	--secondary: #313131;
	--tertiary: #525252;
	--curve: 15px;
}

#controls {
	width: 10rem;
	height: 20rem;
	background-color: var(--secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#pads {
	width: 20rem;
	height: 20rem;
	background-color: var(--tertiary);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3px;
	justify-items: center;
	align-items: center;
}
.drum-pad {
	box-sizing: border-box;
	--size: calc(5rem);
	width: var(--size);
	height: var(--size);
	background-color: var(--secondary);
	color: whitesmoke;
	border: solid var(--primary) 5px;
	border-radius: var(--curve);
	display: flex;
	justify-content: center;
	align-items: center;
}
.drum-pad:hover {
	opacity: 0.5;
}



.slider {
	appearance: none; 
  width: 80%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: var(--curve);
}
.slider::-webkit-slider-runnable-track {
  height: 15px;
  background: var(--tertiary);
  border-radius: 16px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--primary);
  box-shadow: -407px 0 0 400px var(--primary);
}

#drum-display {
	height: 2rem;
	width: 80%;
	background-color: var(--tertiary);
	border: var(--primary) solid 5px;
	border-radius: var(--curve);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.toggle-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;
	font-weight: bold;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tertiary);
  transition: .4s;
	border-radius: var(--curve);
}
.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
	border-radius: var(--curve);
}
.switch-input:checked + .toggle {
  background-color: var(--primary);
}
.switch-input:checked + .toggle:before {
	transform: translateX(26px);
}